<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.brunoorlandi.notify-bt-battery</string>
    <key>CFBundleName</key>
    <string>BT Battery</string>
    <key>CFBundleDisplayName</key>
    <string>BT Battery</string>
    <key>CFBundleExecutable</key>
    <string>bt-battery</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>BT Battery needs Bluetooth access to monitor device battery levels.</string>
</dict>
</plist>
